<h1>Plantões</h1>
<p style="text-align:center;">
  <p-selectButton [options]="types" [(ngModel)]="selectedType" (onChange)="totalizacao()"></p-selectButton>
</p>

<div style="width:50%; margin-left:auto; margin-right:auto;">
  <p-table [value]="quadro">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 30em">{{selectedType | uppercase}}</th>
        <th style="text-align:center;">Total</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quadro>
      <tr *ngIf="quadro.Detalhe!='Total'">
        <td><a (click)="show(selectedType, quadro.Detalhe, quadro.Id)" style="cursor:pointer;">{{quadro.Detalhe}}</a></td>
        <td style="text-align:center;">{{quadro.Total}}</td>
      </tr>
      <tr *ngIf="quadro.Detalhe=='Total'">
        <td style="font-weight:bolder;">{{quadro.Detalhe}}</td>
        <td style="text-align:center;font-weight:bolder;font-size:larger;">{{quadro["Total"]}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

