<h1>
  Cadastro de Médicos
</h1>
<div style="text-align:center;">
  <button pButton type="button" label="Incluir" (click)="incluir()" class="ui-button-raised ui-button-rounded"></button>&nbsp;&nbsp;
  <button pButton type="button" label="Localizar" (click)="localizar()" class="ui-button-raised ui-button-rounded"></button>&nbsp;&nbsp;
  <button pButton type="button" label="Voltar" (click)="voltar()" class="ui-button-raised ui-button-rounded"></button>
</div>
<br />
<div [hidden]="view=='localizar'">
  <form #medicoForm="ngForm" (ngSubmit)="gravar()">
    <table class="center">
      <tr>
        <td>ID:</td>
        <td><input #id="ngModel" type="text" name="id" pInputText [(ngModel)]='medico.IdMedico' readonly="readonly" style="background-color:silver;" [size]="6" /></td>
      </tr>
      <tr>
        <td>CREMEB:</td>
        <td>
          <p-inputMask #cremeb="ngModel" required name="cremeb" [(ngModel)]="medico.Cremeb" mask="?99999999" placeholder="99999999" size="8"></p-inputMask>
          <span [hidden]="!cremeb.invalid" style="font-size:larger; color:red;">*</span>&nbsp;&nbsp;
          <p-dropdown #uf="ngModel" name="uf" required [(ngModel)]="medico.Uf" [style]="{'minWidth':'80px'}" maxlength="2" [options]="ufOptions" class="mydropdown" placeholder="UF" [showClear]="true"></p-dropdown>
          <span [hidden]="!uf.invalid" style="font-size:larger; color:red;">*</span>
        </td>
      </tr>
      <tr>
        <td>Nome:</td>
        <td>
          <input #nome="ngModel" name="nome" required type="text" [(ngModel)]="medico.Nome" pInputText size="80" maxlength="100" />
          <span [hidden]="!nome.invalid" style="font-size:larger; color:red;">*</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;">
          <button pButton type="submit" [disabled]="medicoForm.form.invalid" icon="pi pi-save" label="Gravar" class="ui-button-raised ui-button-rounded"></button>
        </td>
      </tr>
    </table>
  </form>
  <app-escala-medico [medico]="medico" [escalas]="escalas"></app-escala-medico>
</div>

<div [hidden]="view=='incluir'">
  <form #medicoLocalizar="ngForm" (ngSubmit)="pesquisarPorNome()">
    <p style="text-align:center;">
      Informe o nome para localização:
      <input name="inputNomeLocalizar" #inputNomeLocalizar required id="disabled-input" type="text" size="60" pInputText [(ngModel)]="nomeLocalizar" />
      <button id="disabled-btn" type="submit" pButton label="Localizar" icon="pi pi-search" [disabled]="medicoLocalizar.invalid" class="ui-button-raised"></button>
    </p>

    <p-table [value]="medicos" selectionMode="single" [(selection)]="selectedMedico">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3em">
          </th>
          <th style="width:7em">CREMEB</th>
          <th>NOME</th>
          <th style="width:5em"><strong>Alterar</strong></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-medico>
        <tr>
          <td>
            <p-tableRadioButton [value]="medico"></p-tableRadioButton>
          </td>
          <td>{{medico.Cremeb}}-{{medico.Uf.Sigla}}</td>
          <td>{{medico.Nome}}</td>
          <td style="text-align:center;">
            <button pButton icon="pi pi-search" (click)="selectMedicoWithButton(medico)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </form>
  <br />
  <div style="text-align:center;">
    <button pButton type="button" label="Excluir marcado" [disabled]="selectedMedico==undefined" (click)="excluir()" style="width:150px;" class="ui-button-raised ui-button-rounded"></button>
  </div>
</div>

<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="top-center" key="tc"></p-toast>
